@model Frontend.ViewModels.BaseViewModel

<h3>content page here</h3>
<p>@Model.lang.lang</p>
<p>@Model.content.link.url</p>
<p>@Model.category.name</p>
<p>Resouce language test: @Frontend.Resources.Resource.test</p>