@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

<div class='gem_form'>
<div class='gem_form_header' style='position:relative; padding-left: 0; padding-right: 0;'>
  <p class='topbar'></p>

</div>
<div>
  <br/>
  <table class='generic-table-content font_smedmed smallpadding'>
	@foreach (var item in Model.content.articleList) 
	{
	  	<tr>
	  		<td>
	  			<ul>
                    <li>
                        <a href='@item.link.GetFullURL()'>
                            <div style="padding:30px 0px; min-height:194px; border-bottom: 1px solid #979797; display: -webkit-flex; display: -ms-flexbox; display: flex; ">
                                <div style="">
                                    <img src="/images/menu_img1.jpg" style="width:130px" />
                                </div>
                                <div style="padding: 0px 28px;">
                                    <h3 style="margin: 16px 0px; font-size: 18px; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ce0f00; ">@item.name</h3>
                                    <p style="margin:  0px; font-size: 14px; line-height: 1.29; letter-spacing: normal; text-align: left; color: #333333; ">@item.summary</p>
                                </div>
                            </div>
                        </a>
                    </li>
	  			</ul>
	  		</td>
	  	</tr>
	}
  </table>
  <table class='generic-table-footer font_smed thin-line nopadding'>
    <tr>
      <td class="t_center"></td>
      <td class="t_center">
        <div class="pagination">
          <div class="pagination-control">&lt;&lt; prev_page</div>
          <div class="pagination-control pagination-page pagination-highlight">1</div>
          <div class="pagination-control pagination-page">2</div>
          <div class="pagination-control pagination-page">3</div>
          <div class="pagination-control pagination-page">4</div>
          <div class="pagination-control pagination-page">5</div>
          <div class="pagination-control">next_page &gt;&gt;</div>
        </div>
      </td>
      <td class="t_center"></td>
    </tr>
  </table>
</div>
</div>
