@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels


<div class='gem_form'>

    @{
        var iframe_src2 = "<div class='gem_form shortbottom'><iframe class='if-flexible' frameborder='0' id='ii2' scrolling='no' src='@{IFRAME_QPI:stock_quoter}'></iframe></div>";
    }
    @Html.RazorEncode(HttpUtility.HtmlDecode(iframe_src2), Model)

    <div class='gem_form shortbottom'>
        <div class='gem_form_header' style='position:relative; padding-left: 0; padding-right: 0;'>
            <p class='topbar big bg_c_navy'>
                <span class='font_smed'>熱門新聞</span>
            </p>

        </div>
        <br />
        <div style='padding-left: 0px; padding-right: 0px;'>
            <br>
            <table class='generic-table-form more-table-form gm gm-numbers'>
                <tr class='tablerow' onclick='javascript:alert("clicked");'>
                    <td class='font_sm'>
                        <span class='c_navy'>{日期}</span>&nbsp;&nbsp;<span class='c_navy'>{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}</span>
                    </td>
                </tr>
                <tr class='tablerow' onclick='javascript:alert("clicked");'>
                    <td class='font_sm'>
                        <span class='c_navy'>{日期}</span>&nbsp;&nbsp;<span class='c_navy'>{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}</span>
                    </td>
                </tr>
                <tr class='tablerow' onclick='javascript:alert("clicked");'>
                    <td class='font_sm'>
                        <span class='c_navy'>{日期}</span>&nbsp;&nbsp;<span class='c_navy'>{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}</span>
                    </td>
                </tr>
                <tr class='tablerow' onclick='javascript:alert("clicked");'>
                    <td class='font_sm'>
                        <span class='c_navy'>{日期}</span>&nbsp;&nbsp;<span class='c_navy'>{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}</span>
                    </td>
                </tr>
                <tr class='tablerow' onclick='javascript:alert("clicked");'>
                    <td class='font_sm'>
                        <span class='c_navy'>{日期}</span>&nbsp;&nbsp;<span class='c_navy'>{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}{標題}</span>
                    </td>
                </tr>
                <tr class='tablerow' onclick='javascript:alert("clicked");'>
                    <td class='font_sm text-right'>
                        <span class='c_navy'>更多新聞 > </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>