@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@if (Model.topbarMenu != null)
{
  <div style="position:relative; padding: 20px;">
    <div>
      <div class='horizontal-menu'>
        <ul>
          @foreach (var menuItem in Model.topbarMenu)
          {
              <a href="@menuItem.link.GetFullURL()">
                <li>
                  <div class='background'>
                    <div class='text'>
                      @menuItem.name
                    </div>
                  </div>
                </li>
              </a>
          }
        </ul>
      </div>
    </div>
  </div>
}
