@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@if (Model.topbarMenu != null)
{
  <div style="position:relative; padding: 20px;">
    <div>
      <div class='submenubar'>
        <ul class="submenuList">
          @foreach (var menuItem in Model.topbarMenu)
          {
            <li>
                <a href="@menuItem.link.GetFullURL()">
                    <p>
                        @menuItem.name
                    </p>
                </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}
