@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@if (Model.topbarMenu != null)
{
  <div style="position:relative; padding: 20px;">
    <div>
      <div class='submenubar'>
        <ul class="submenuList">
          @foreach (var menuItem in Model.topbarMenu)
          {
              if (menuItem.category == null
                  ||
                  !menuItem.category.hideTopsubmenuBarItem)
              {
                  if (menuItem.is_highlighted)
                  {
                    <li class="is_highlighted">
                        <a href="@menuItem.link.GetFullURL()">
                            <p>
                                @menuItem.name
                            </p>
                        </a>
                    </li>
                  }
                  else
                  {
                    <li>
                        <a href="@menuItem.link.GetFullURL()">
                            <p>
                                @menuItem.name
                            </p>
                        </a>
                    </li>
                  }
              }
          }
        </ul>
      </div>
    </div>

    <style>
        .submenuList li.is_highlighted
        {
            background-color: #ccc;
            border-radius: 10px;
        }
        .submenuList li.is_highlighted a
        {
            color: #000;
        }
    </style>
  </div>
}
