@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@if (Model.topbarMenu != null)
{
  <div style="position:relative; padding: 20px;">
    <div>
      <div class='submenubar'>
          <ul class="submenuList">
              @foreach (var menuItem in Model.topbarMenu)
              {
                  if (menuItem.category == null
                      ||
                      !menuItem.category.hideTopsubmenuBarItem)
                  {
                      if (menuItem.is_highlighted)
                      {
                          <a href="@menuItem.link.GetFullURL()">
                              <li class="is_highlighted">
                                  <p>
                                      @menuItem.name
                                  </p>
                              </li>
                          </a>
                      }
                      else
                      {
                        <a href="@menuItem.link.GetFullURL()">
                            <li>
                                <p>
                                    @menuItem.name
                                </p>
                            </li>
                        </a>
                      }
                  }
              }
          </ul>
      </div>
    </div>

    <style>
        .submenuList li.is_highlighted
        {
            background-color: #ccc;
            border-radius: 10px;
        }
        .submenuList li.is_highlighted a
        {
            color: #000;
        }
    </style>
  </div>
}
