@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels


<div>
  <div>
    <div class='horizontal-menu'>
      <ul>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
        <li class='divider'></li>
        <li>
          <div class='background'>
            <div class='text'>
              有效的指示
            </div>
          </div>
        </li>
      </ul>
    </table>
  </div>
</div>