
<section class='top'>
    <div class='footer'>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding' style='position:relative; overflow: visible;'>
                <div class='row'>
                    <div class='col s12 m4'>
                        <a href='#'>常見問題</a>
                        <a href='#'>免責聲明</a>
                    </div>
                    <div class='col s12 m4'>
                        <a href='#'>下載</a>
                        <a href='#'>開戶申請查詢</a>
                    </div>
                    <div class='col s12 m4'>
                        <a href='#'>聯絡我們</a>
                        <a href='#'>網站地圖</a>
                    </div>
                </div>
                <a href='#' class='oval-button-red' style='position:fixed;bottom: 106px; right: 10px;'></a>
                <a href='#' class='oval-button-white' style='position:fixed;bottom: 24px; right: 10px;'></a>
            </div>
        </div>
        <div class='footer-bar-bg'>
            <div class='gem_form nobg zeromarginpadding'>
                <div class='row'>
                    <div class='col s12 m12'>
                        © 2016 Geminis Securities Limited，版權所有，不得轉載。&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>用戶協議</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>保障個人資料(隱私)政策</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>免責聲明</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/init.js"></script>