
<section class='top'>
    <div class='footer'>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding' style='position:relative; overflow: visible;'>
                <div class='row'>
                    @for (var i = 0; i < Model.footerMenu.Count; i++)
                    {
                        var menuItem = Model.footerMenu[i];

                        <div class='col s12 m4'>
                            <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
                        </div>
                    }      
                </div>
                <a href="#" class="oval-button" style="position:fixed;bottom: 106px; right: 10px;">
                    <img style="width:100%" src="/images/footer_chartbox.png" />
                </a>
                <a href="#" class="oval-button" style="position:fixed;bottom: 24px; right: 10px;">
                    <img style="width:100%" src="/images/footer_gototop_btn.png" />
                </a>
            </div>
        </div>
        <div class='footer-bar-bg'>
            <div class='gem_form nobg zeromarginpadding'>
                <div class='row'>
                    <div class='col s12 m12'>
                        © 2016 Geminis Securities Limited，版權所有，不得轉載。&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>用戶協議</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>保障個人資料(隱私)政策</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>免責聲明</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/init.js"></script>