
<section class='top'>
    <div class='footer'>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding' style='position:relative; overflow: visible;'>
                <div class='row'>
                    @for (var i = 0; i < Model.footerMenu.Count; i++)
                    {
                        var menuItem = Model.footerMenu[i];

                        <div class='col s12 m4'>
                            <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
                        </div>
                    }
                </div>
                <style>
                    /*
                    #comm100-float-button-2 {
                        width: 72px !important;
                        height: 72px !important;
                        background-size: contain !important;
                        position: fixed !important;
                        bottom: 106px !important;
                        right: 10px !important;
                        top: auto !important;
                        left: auto !important;
                    }
                        */
                </style>
                <div id="comm100-button-955" class="oval-button" style="position:fixed;bottom: 106px; right: 10px;">

                </div>
                <a href="#" class="oval-button" style="position:fixed;bottom: 24px; right: 10px;">
                    <img style="width:100%" src="/images/footer_gototop_btn.png" />
                </a>
            </div>
        </div>
        <div class='footer-bar-bg'>
            <div class='gem_form nobg zeromarginpadding'>
                <div class='row'>
                    <div class='col s12 m12'>
                        © @Model.currentYear Geminis Securities Limited，版權所有，不得轉載。&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>用戶協議</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>保障個人資料(隱私)政策</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>免責聲明</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/init.js"></script>