<section class='top'>
    <div class='header'>
        <div class='top-red-bar'>
        </div>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding'>
                <div class="row">
                    <div class="col m12">
                        <table class='header-table-grid-1 font_sm'>
                            <tr>
                                <td>
                                    <div class='GSL'>GSL</div>
                                </td>
                                <td>
                                    繁中 
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    字體大小
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style='font-size: 20px'>A</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style='font-size: 30px'>A</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class='generic-button-standalone gb-hollow-white'>
                                        登入／註冊
                                    </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class='generic-button-standalone gb-primary'>
                                        免費開戶
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class='nav-bar-bg'>
                            <ul id="nav-mobile" class="hide-on-med-and-down">
                                <li><a href="sass.html">主頁</a></li>
                                <li><a href="badges.html">Market</a></li>
                                <li><a href="collapsible.html">News</a></li>
                                <li><a href="collapsible.html">Investments</a></li>
                                <li><a href="collapsible.html">Promotions</a></li>
                                <li><a href="collapsible.html">About Us</a></li>
                                <li><a href="collapsible.html">Services</a></li>
                            </ul>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><a href="badges.html">Search</a></li>
                                <li><a href="collapsible.html">Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='breadcrumb-bar-bg'>
            <div class='gem_form nobg fixedformpadding notopstripe shortbottom'>
                <div class='row'>
                    <div class="col m12">
                        主頁   > 市場   > 香港證券   > 股票報價
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



