
@{
    ViewBag.Title = "ChangePasswordRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePasswordRequest</h2>

<li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
