
@{
    ViewBag.Title = "LoginLocked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Account Locked</h2>
<p>Your login account is locked by the system due to multiple login failures. Please contact admin to release the account and try again later. Thanks.</p>