
@{
    ViewBag.Title = "LoginDisabled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Account Disabled</h2>
<p>Your login account is disabled. Please contact admin to enable the account and try again later. Thanks.</p>