
@{
    ViewBag.Title = "LoginLocked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginLocked</h2>
Your login is locked by the system due to multiple login failures. Please contact administrator.
