@model IEnumerable<WebApplication2.Models.Article>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New Article", "CreateWithViewModelForm")
</p>

@Html.Partial("~/Views/ArticleEditor/_ArticleListForEditor.cshtml")