@model IEnumerable<WebApplication2.Models.Article>

@{
    ViewBag.Title = "ListArticleVersions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Version History</h2>


@Html.Partial("~/Views/ArticleEditor/_ArticleListForEditorListVersions.cshtml")

@Html.ActionLink("Back to Articles", "List")